.input-employee{
	background: #fff;
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #6c757d4d;

}

.input-employee-time{
	background: #fff;
	padding: 4px;
	border-radius: 5px;
	border: 1px solid #6c757d4d;

}