.input-employee{
	background: #fff;
	padding: 7px;
	border-radius: 5px;
	border: 1px solid #6c757d4d;

}
/*
.input-employee-time{
	background: #fff;
	padding: 4px;
	border-radius: 5px;
	border: 1px solid #6c757d4d;

}
/**/
.fixed-header{
	position: fixed;

	background-color: #fff;	
	z-index: 2;
	width: 100%;
	top:55px;
}

.sidebar{
	position: fixed;
	margin-top:90px;
	height: 100%;
	

}

.main{
	margin-left: 50%;
	margin-top: 90px;
	/*
	position: fixed;
	/**/
}

