
.md-form label {
  font-size: 0.8rem;
  transform: translateY(-35%);
}
/**/
.icon-orange{
  font-size: 20px;
  color: orange;
}
.icon-green{
  font-size: 20px;
  color: green;
}
.cursor-pointer{
  cursor: pointer;
}
.cursor-pointer:hover{
  background-color: #51d6ff42;

}