.md-form label {
    font-size: 0.8rem;
    transform: translateY(-35%);
}

.container{
    padding-bottom: 5em;
}
.container-fluid{
    padding-bottom: 6em;
}


.icon-orange {
    font-size: 20px;
    color: orange;
}

.icon-green {
    font-size: 20px;
    color: green;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-pointer:hover {
    background-color: #ddd;
    transition:  .5s;
}
/*
.img-icon {
    width: 55px;
    border-radius: 50%;
    height: 50px;
    margin-right: 15px;
    
}
/**/
